
/* AGREGAR ARTICULOS///////////////////////////////////////////////////// */

.articulobtn{
  font-weight: 600;
  font-size: large;
  border: 1px solid#087A7E; 
  width: 100%;
  padding: 4% 20% ;
  color: white;
  margin-bottom: 3%;
  background-color: #087A7E;
  
}
.camarafont{
  margin: 1%;
  padding: 1%;
  margin-left: 5%;
  margin-right: 2%;
  background-color: #F1DDDD;
}
.posit{
  padding-right: 47%;
  float: left;
}
.parraf{
  margin-top: 3%;
}
.imgadd{
  padding: 5%;
  height: 200px;
  width: 60%;
}
.imgadd2{
  padding: 5%;  
  height: 200px;
  width: 30%;
}
.imgadd3{
  padding: 5%;  
  margin-bottom: 5%;
  height: 160px;
  width: 39%;
}
.cente{
  background-color: #1ba5ab;
}
.cancel{
  width: 2%;
  margin-left: 97%;
  margin-bottom: 1%;
}
.candado{
  margin-left: 850px;
  margin-top: 2%;
}